@import "tailwindcss";
@import "@fontsource-variable/jetbrains-mono";
@import "@fontsource-variable/instrument-sans";
@import "@fontsource-variable/newsreader";


@theme {
  --color-primary: #1B2A4A;
  --color-background: #FDFCFA;
  --color-surface: #FFFFFF;
  --color-text: #2D3748;
  --color-muted: #718096;
  --color-accent: #2B6CB0;
  --color-border: #E2E8F0;
  --font-sans: 'Instrument Sans Variable', sans-serif;
  --font-reading: 'Newsreader Variable', serif;
  --font-mono: 'JetBrains Mono Variable', monospace;
  --radius: 2px;
  --spacing-sm: 8px;
  --spacing-md: 24px;
  --spacing-lg: 48px;
  --spacing-xl: 96px;
}



body {
  @apply bg-background text-text;
}

.btn-outline {
  @apply font-semibold border px-4 py-2 tracking-wide text-sm items-center;
}

.btn-primary {
  @apply tracking-wide bg-primary text-background px-4 py-3 inline-flex items-center gap-2 text-sm justify-center;
}

select {
  appearance: base-select;
  @apply border px-4 py-2;
}